In [1]:
import numpy as np
import pandas as pd

In [2]:
file1=pd.read_csv('/Users/riyavasileva/Ironhack/lab-customer-analysis-round-1-master/files_for_lab/csv_files/file1.csv')

In [3]:
file2=pd.read_csv('/Users/riyavasileva/Ironhack/lab-customer-analysis-round-1-master/files_for_lab/csv_files/file2.csv')

In [4]:
file3=pd.read_csv('/Users/riyavasileva/Ironhack/lab-customer-analysis-round-1-master/files_for_lab/csv_files/file3.csv')

In [11]:
column_names=file1.columns
data=pd.DataFrame(columns=column_names)

In [12]:
data.shape

(0, 11)

In [13]:
data=pd.concat ([data,file1],axis=0)
data=pd.concat ([data,file2],axis=0)
data=pd.concat ([data,file3],axis=0)

In [14]:
data.shape

(12074, 13)

In [15]:
data.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount,State,Gender
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934,NaN,NaN
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935,NaN,NaN
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247,NaN,NaN
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344,NaN,NaN
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323,NaN,NaN

In [16]:
data.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount', 'State',
       'Gender'],
      dtype='object')

In [18]:
data.columns = ['Customer', 'State', 'Genger', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount', 'State',
       'Gender']

In [19]:
data.columns

Index(['Customer', 'State', 'Genger', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount', 'State',
       'Gender'],
      dtype='object')

In [20]:
data= data.drop(['Education'], axis=1)

In [21]:
data= data.drop(['Number of Open Complaints'], axis=1)

In [22]:
data.columns

Index(['Customer', 'State', 'Genger', 'Customer Lifetime Value', 'Income',
       'Monthly Premium Auto', 'Policy Type', 'Vehicle Class',
       'Total Claim Amount', 'State', 'Gender'],
      dtype='object')

In [26]:
data=data.drop_duplicates()

In [27]:
data.shape

(9135, 11)

In [31]:
tempdataset=data.copy()

In [33]:
tempdataset.head()

,Customer,State,Genger,Customer Lifetime Value,Income,Monthly Premium Auto,Policy Type,Vehicle Class,Total Claim Amount,State,Gender
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.704934,NaN,NaN
1,QZ44356,Arizona,F,697953.59%,0.0,94.0,Personal Auto,Four-Door Car,1131.464935,NaN,NaN
2,AI49188,Nevada,F,1288743.17%,48767.0,108.0,Personal Auto,Two-Door Car,566.472247,NaN,NaN
3,WW63253,California,M,764586.18%,0.0,106.0,Corporate Auto,SUV,529.881344,NaN,NaN
4,GA49547,Washington,M,536307.65%,36357.0,68.0,Personal Auto,Four-Door Car,17.269323,NaN,NaN

In [36]:
tempdataset.dtypes

Customer                    object
State                       object
Genger                      object
Customer Lifetime Value     object
Income                     float64
Monthly Premium Auto       float64
Policy Type                 object
Vehicle Class               object
Total Claim Amount         float64
State                       object
Gender                      object
dtype: object

In [37]:
tempdataset['Customer Lifetime Value']= pd.to_numeric(tempdataset['Customer Lifetime Value'], errors='coerce')

In [38]:
tempdataset.dtypes

Customer                    object
State                       object
Genger                      object
Customer Lifetime Value    float64
Income                     float64
Monthly Premium Auto       float64
Policy Type                 object
Vehicle Class               object
Total Claim Amount         float64
State                       object
Gender                      object
dtype: object

In [39]:
tempdataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9135 entries, 0 to 7069
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Customer                 9134 non-null   object
 1   State                    2064 non-null   object
 2   Genger                   1942 non-null   object
 3   Customer Lifetime Value  7070 non-null   float64
 4   Income                   9134 non-null   float64
 5   Monthly Premium Auto     9134 non-null   float64
 6   Policy Type              9134 non-null   object
 7   Vehicle Class            9134 non-null   object
 8   Total Claim Amount       9134 non-null   float64
 9   State                    7070 non-null   object
 10  Gender                   7070 non-null   object
dtypes: float64(4), object(7)
memory usage: 856.4+ KB